<template name="login">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form class="form-signin" method="post">
        <img src="/images/kotabekasi.png" class="logo-bekasi" alt="" />
        <div class="panel">
          <div class="panel-heading">
            <h2 class="form-signin-heading"><strong>Green</strong>Doc</h2>
          </div>
          <div class="panel-body">
            <div class="form-group col-lg-12">
              <label for ="email" class="sr-only">Alamat Surel</label>
              <input type="email" class="form-control" id="email" placeholder="Alamat Surel" required autofocus/>
            </div>
            <div class="form-group col-lg-12">
              <label for="password" class="sr-only">Kata Sandi</label>
              <input type="password" class="form-control" id="password" placeholder="Kata Sandi" required autofocus/>
            </div>
          </div>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Masuk</button>
        </div>
        <hr />
        <p><strong>UPTD Pembinaan SD Kecamatan Mustika Jaya</strong></p>
        <p><strong>Dinas Pendidikan Kota Bekasi</strong></p>
        <p><strong>&copy; 2017</strong></p>
      </form>
    </div>
  </div>
</template>
