<template name="admin">
<div class="container">
    <div class="row">
      <div class="col-md-4">
          <!-- panel daftar grup -->
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Daftar Grup</strong></h3>
            </div>
            <div class="panel-body">
              <table class="table table-striped table-bordered table-responsive table-hover">
                <thead>
                  <tr class="success">
                    <th>Nama Grup</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each grups}}
                    <tr>
                      <td>{{capFirst nama}}</td>
                    </tr>
                  {{else}}
                    <tr>
                      <td colspan="4">Tidak ada grup! </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div> <!-- panel daftar grup -->
      </div>
          <!-- panel daftar jenis berkas -->
      <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Daftar Jenis Berkas</strong></h3>
            </div>
            <div class="panel-body">
              <table class="table table-striped table-bordered table-responsive table-hover">
                <thead>
                  <tr class="success">
                    <th>Jenis Berkas</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each jenis}}
                    <tr>
                      <td>{{capFirst nama}}</td>
                    </tr>
                  {{else}}
                    <tr>
                      <td colspan="4">Tidak ada jenis berkas! </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>  <!-- panel daftar jenis berkas -->
      </div>
    </div>
<!-- row 2 -->
  <div class="row">
      <div class="col-md-4">
        <!-- panel daftar status berkas -->
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Daftar Status Berkas</strong></h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-bordered table-responsive table-hover">
              <thead>
                <tr class="success">
                  <th>Status Berkas</th>
                </tr>
              </thead>
              <tbody>
                {{#each status}}
                  <tr>
                    <td>{{capFirst nama}}</td>
                  </tr>
                {{else}}
                  <tr>
                    <td colspan="4">Tidak ada status berkas! </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div> <!-- panel daftar status berkas -->
      </div>
        <!-- panel daftar sifat berkas -->
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Daftar Sifat Berkas</strong></h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-bordered table-responsive table-hover">
              <thead>
                <tr class="success">
                  <th>Sifat Berkas</th>
                </tr>
              </thead>
              <tbody>
                {{#each sifat}}
                  <tr>
                    <td>{{capFirst nama}}</td>
                  </tr>
                {{else}}
                  <tr>
                    <td colspan="4">Tidak ada sifat berkas! </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- panel daftar sifat berkas -->
      </div>
  </div>
<!-- row 3 -->
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Daftar Akun</strong></h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-responsive table-hover">
            <thead>
              <tr class="success">
                <th>Nama Akun</th>
                <th>Alamat Surel</th>
                <th>Grup</th>
                <th>Alamat</th>
                <th>Avatar</th>
              </tr>
            </thead>
            <tbody>
              {{#each daftarUser}}
                <tr>
                  <td>{{capFirst profile.nama}}</td>
                  <td>{{daftarEmail}}</td>
                  <td>{{roles}}</td>
                  <td>{{capFirst profile.alamat}}</td>
                  <td>
                    <img width="30px" height="30px" src="{{profile.avatar}}" alt="Avatar" class="img-circle"/>
                  </td>
                </tr>
              {{else}}
                <tr>
                  <td colspan="4">Tidak ada akun! </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
