<template name="footer">
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo"><a href="#">
                  <img src="/images/kotabekasi.png" class="logo-bekasi" alt="logobekasi"></a></h2>
            </div>
            <div class="col-sm-2">
                <h5>Berkas-berkas</h5>
                <ul>
                    <li><a href="/berkas/unggahberkas">Unggah Berkas</a></li>
                    <li><a href="/berkas/berkasmasuk">Berkas Masuk</a></li>
                    <li><a href="/berkas/berkaskeluar">Berkas Keluar</a></li>
                    <li><a href="/berkas/semuaberkas">Semua Berkas</a></li>
                </ul>
            </div>
            <div class="col-sm-2">

                <h5>Pengaturan</h5>
                <ul>
                  <li><a href="/profil">Profil</a></li>
                  {{#if isInRole 'admin'}}
                    <li><a href="/kategori/aturuser">Akun</a></li>
                    <li><a href="/kategori/aturgrup">Grup</a></li>
                    <li><a href="/kategori/aturjenisberkas">Jenis Berkas</a></li>
                    <li><a href="/kategori/aturstatusberkas">Status Berkas</a></li>
                    <li><a href="/kategori/atursifatberkas">Sifat Berkas</a></li>
                  {{/if}}
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Dukungan Teknis</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forum</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-default">Hubungi Kami</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
      <p>UPTD Pembinaan SD Kecamatan Mustika Jaya
      <br/>Dinas Pendidikan Kota Bekasi
      <br/>&copy; 2017</p>
    </div>
</footer>
</template>
